{% extends "main.html" %}
{% block body %}
<div class="container is-max-desktop">
    <div class="notification is-primary">
        <form action="/singup" method="POST" novalidate>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                <input class="input {% for error in errores %} {% if error.param === 'email' %} is-danger {% endif %} {% endfor %}" type="email" placeholder="Ej: usuario@gmail.com" name="email" value="{{ email }}">
                </div>
            </div>
            
            <div class="field">
                <label class="label">Contraseña</label>
                <div class="control">
                <input class="input {% for error in errores %} {% if error.param === 'contraseña' or error.param === 'confirmarContraseña' %} is-danger {% endif %} {% endfor %}" type="password" name="contraseña" value="{{ contraseña }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Confirmar Contraseña</label>
                <div class="control">
                <input class="input {% for error in errores %} {% if error.param === 'contraseña' or error.param === 'confirmarContraseña' %} is-danger {% endif %} {% endfor %}" type="password" name="confirmarContraseña" value="{{ confirmarContraseña }}">
                </div>
            </div>

            {% if errores %}
            <p class="help is-danger">{{ errores[0].msg }}</p>
            {% endif %}
            
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            
            <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link" type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}