{% extends "main.html" %}
{% block body %}
<table class="table is-bordered is-fullwidth">
    <thead>
      <tr>
        <th>Nro</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Año</th>
        <th>Kms</th>
        <th>Color</th>
        <th>Aire acondicionado</th>
        <th>Pasajeros</th>
        <th>Manual/Automatico</th>
        <th>Precio por dia </th>
        {% if isAuthenticated %}
        <th>Acciones</th>
        {% endif %}
      </tr>
    </thead>
    {% for auto in autos %}
    <tr>
      <th>{{ loop.index }}</th>
      <td>{{ auto.marca }}</td>
      <td>{{ auto.modelo }}</td>
      <td>{{ auto.año }}</td>
      <td>{{ auto.kms }}</td>
      <td>{{ auto.color }}</td>
      <td>{{ auto.aireAcondicionado}}</td>
      <td>{{ auto.pasajeros }}</td>
      <td>{{ auto.manualAutomatico }}</td>
      <td>$ {{ auto.precioAlquilerPorDia }}</td>
      {% if isAuthenticated %}
      <td>
          <div class="buttons are-small">
              <a class="button is-primary is-outlined" href="/car-detail/{{ auto.id }}">{% if isAuthenticated and auto.disponible %} Ver/Alquilar {% else %} Ver en detalle {% endif %}</a>
              {% if isAuthenticated %}
              <a class="button is-link is-outlined" href="/edit-car/{{ auto.id }}">Editar</a>
              <form action="delete-car/{{ auto.id }}" method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <button type="submit" class="button is-danger is-outlined boton-eliminar" data-disponible="{{ auto.disponible }}">
                  <span>Borrar</span>
                  <span class="icon is-small">
                    <i class="fas fa-times"></i>
                  </span>
                </button>
              </form>
              {% endif %}
          </div>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
    {% if autos.length === 0 %}
    <div class="message-header">
      <p>Esta lista esta vacia</p>
    </div>
    {% endif %}
</table>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <article class="message is-danger">
      <div class="message-header">
        <p>Advertencia</p>
        <button class="delete cerrar-modal" aria-label="delete"></button>
      </div>
      <div class="message-body">
        <div id="mensaje-modal">

        </div>
        <div class="field is-grouped" style="margin-top: 3%;">
          <p class="control">
            <button class="button is-danger confirmar-modal">
              Confirmar
            </button>
          </p>
          <p class="control">
            <button class="button cerrar-modal">
              Cancelar
            </button>
          </p>
        </div>
      </div>
    </article>
  </div>
  <button class="modal-close is-large cerrar-modal" aria-label="close"></button>
</div>
{% endblock %}