<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Crud autos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/mystyles.css">
</head>
<body>
    {% include "navBar.njk" %}
    {% block body %}{% endblock %}
    <script src="/js/modal.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>