<div class="modal" id="modal">
  <div class="modal-background close-modal"></div>
  <div class="modal-content">
    <article class="message is-danger">
        <div class="message-header">
            <p>Advertencia</p>
            <button class="delete close-modal" aria-label="delete">
            </button>
        </div>
        <div class="message-body">
            Este es un mensaje de prueba para el modal. <strong>Modal</strong>
        </div>
        <div class="message-footer" style="text-align: right;">
        </div>
    </article>
  </div>
  <button class="modal-close is-large close-modal" aria-label="close"></button>
</div>