<nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
      </a>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" {% if path === '/' or path === '/all-cars' %} style="color: #67d1b2;" {% endif %}>
              Autos
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/" {% if path === '/' %} style="color: #67d1b2;" {% endif %}>
                Disponibles
              </a>
              <a class="navbar-item" href="/all-cars" {% if path === '/all-cars' %} style="color: #67d1b2;" {% endif %}>
                Ver todos
              </a>
            </div>
          </div>
            {% if isAuthenticated %}     
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" {% if path === '/rentals' or path === '/all-rentals' %} style="color: #67d1b2;" {% endif %}>
                Alquileres
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item" href="/rentals" {% if path === '/rentals' %} style="color: #67d1b2;" {% endif %}>
                  Actuales
                </a>
                <a class="navbar-item" href="/all-rentals" {% if path === '/all-rentals' %} style="color: #67d1b2;" {% endif %}>
                  Ver todos
                </a>
              </div>
            </div>
            
            {% endif %}
          </div>

        </div>
    </div>
  
    {% if isAuthenticated %}
      <div class="navbar-end">
        <form action="/logout" method="POST" class="navbar-item" id="logout-form">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <a class="navbar-item" onclick="document.getElementById('logout-form').submit();">Cerrar sesion</a>
        </form>
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-primary {% if path === '/add-car' %} is-outlined {% endif %}" href="/add-car">
                <span>Agregar auto +</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    {% else %}
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/singup">
            <strong>Registrarse</strong>
          </a>
          <a class="button is-light" href="/login">
            Iniciar sesion
          </a>
        </div>
      </div>
    </div>
    {% endif %}
      </div>
    </div>
  </nav>