{% extends "main.html" %}
{% block body %}
<table class="table is-bordered is-fullwidth">
    <thead>
      <tr>
        <th>Nro</th>
        <th>Auto</th>
        <th>Nombre del cliente</th>
        <th>Precio por dia</th>
        <th>Alquilado desde</th>
        <th>Alquilado hasta</th>
        <th>Medio de pago</th>
        <th>Total</th>
        {% if columnaEstado %}
        <th>Estado</th>
        <th>Acciones</th>
        {% else %}
        <th>Acciones</th>
        {% endif %}      
      </tr>
    </thead>
    {% for alquiler in alquileres %}
    <tr>
      <th>{{ loop.index }}</th>
      <td><a href="/car-detail/{{ alquiler.auto.id }}">{{ alquiler.auto.marca }} {{ alquiler.auto.modelo }}</a></td>
      <td><a href="/client-detail/{{ alquiler.cliente.id }}">{{ alquiler.cliente.nombres }} {{ alquiler.cliente.apellidos }}</a></td>
      <td>$ {{ alquiler.auto.precioAlquilerPorDia }}</td>      
      <td>{{ alquiler.alquilerDesde }}</td>
      <td>{{ alquiler.alquilerHasta }}</td>
      <td>{{ alquiler.medioDePago }}</td>
      <td>$ {{ alquiler.total }}</td>
      {% if columnaEstado %}
      <td>{{ alquiler.estado }}</td>
      <td>
        <form action="/delete-rental/{{ alquiler.id }}" method="POST">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <button class="button is-danger is-outlined is-small boton-eliminar" type="submit"  data-estado="{{ alquiler.estado }}">
            <span>Borrar</span>
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
          </button>
        </form>
        <a href="download-rental-pdf/{{ alquiler.id }}">Descargar</a>
      </td>
      {% else %}
      <td>
        <form action="return-car/{{ alquiler.id }}" method="POST">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <button type="submit" class="button is-danger is-outlined is-small">Finalizar alquiler</button>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
    {% if alquileres.length === 0 %}
    <div class="message-header">
      <p>Esta lista esta vacia</p>
    </div>
    {% endif %}
</table>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <article class="message is-danger">
      <div class="message-header">
        <p>Advertencia</p>
        <button class="delete cerrar-modal" aria-label="delete"></button>
      </div>
      <div class="message-body">
        <div id="mensaje-modal">

        </div>
        <div class="field is-grouped" style="margin-top: 3%;">
          <p class="control">
            <button class="button is-danger confirmar-modal">
              Confirmar
            </button>
          </p>
          <p class="control">
            <button class="button cerrar-modal">
              Cancelar
            </button>
          </p>
        </div>
      </div>
    </article>
  </div>
  <button class="modal-close is-large cerrar-modal" aria-label="close"></button>
</div>
{% endblock %}