{% extends "main.html" %}
{% block body %}
<div class="container is-max-desktop formulario-cliente">
    <div class="notification is-primary">
        <form action="/add-client" method="POST" id="formulario" novalidate>
          <section class="hero is-small">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  Datos del cliente
                </h1>
              </div>
            </div>
          </section>
            <div class="field">
                <label class="label">Nombres</label>
                <div class="control">
                  <input class="input" type="text" name="nombres" value="{{ nombres }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Apellidos</label>
                <div class="control">
                  <input class="input" type="text" name="apellidos" value="{{ apellidos }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Nro. documento</label>
            </div>
            <div class="field is-horizontal">
                <div class="field">
                    <div class="control">
                      <div class="select">
                        <select name="tipoDocumento">
                          <option {% if tipoDocumento === 'D.N.I' %} selected {% endif %}>D.N.I.</option>
                          <option {% if tipoDocumento === 'Pasaporte' %} selected {% endif %}>Pasaporte</option>
                          <option {% if tipoDocumento === 'L.c' %} selected {% endif %}>L.C</option>
                        </select>
                      </div>
                    </div>
                </div>
                <input class="input" type="text" name="numeroDocumento" value="{{ numeroDocumento }}">
            </div>
            <div class="field">
              <label class="label">Fecha de nacimiento</label>
              <div class="control">
                <input class="input" type="date" name="fechaNacimiento" id="input-fecha-de-nacimiento" value="{{ fechaNacimiento }}">
              </div>
          </div>
            <div class="field">
                <label class="label">Nacionalidad</label>
                <div class="control">
                  <input class="input" type="text" name="nacionalidad" value="{{ nacionalidad }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Direccion</label>
                <div class="control">
                  <input class="input" type="text" name="direccion" value="{{ direccion }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Telefono</label>
                <div class="control">
                  <input class="input" type="tel" name="telefono" value="{{ telefono }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input class="input" type="email" name="email" id="email-input" value="{{ email }}">
                </div>
            </div>

            <div class="field is-horizontal" style="margin-top: 6%;">
              <div class="field-label is-normal">
                <label class="label">Desde:</label>
              </div>
              <div class="field-body">
                <div class="field">
                    <input class="input" type="date" name="alquilerDesde" id="alquilerDesde" onchange="mostrarTotal()" value="{{ alquilerDesde }}">
                </div>
                <div class="field-label is-normal">
                  <label class="label">Hasta:</label>
                </div>
                <div class="field">
                    <input class="input is-success" type="date" name="alquilerHasta" id="alquilerHasta" onchange="mostrarTotal()" value="{{ alquilerHasta }}">
                </div>
              </div>
            </div>
            
            <div class="field has-addons" style="margin-top: 6%;">
              <p class="control">
                <span class="select">
                  <select name="medioDePago">
                    <option {% if tipoDocumento === 'Efectivo' %} selected {% endif %}>Efectivo</option>
                    <option {% if tipoDocumento === 'tarjeta' %} selected {% endif %}>Tarjeta</option>
                  </select>
                </span>
              </p> 
              <p class="control">
                <a class="button is-danger">
                  Total: $
                </a>
              </p>        
              <p class="control is-expanded">
                <input class="input" name="total" id="input-total" value="{{ total }}">
              </p>
            </div>

            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            <input type="hidden" name="carId" value="{{ auto.id }}" id="carId">
            <input type="hidden" name="precioAlquilerPorDia" value="{{ auto.precioAlquilerPorDia }}" id="valorPorDia">

            {% if errores %}
            <p class="help is-danger">{{ errores[0].msg }}</p>
            {% endif %}

            <div class="field is-grouped" style="margin-top: 6%;">
                <div class="control">
                  <button class="button is-link" type="submit">Enviar</button>
                </div>
                <div class="control">
                  <a class="button is-link is-light" href="/">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
  </div>
{% endblock %}